@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "helvetica";
}

ul {
    list-style: disc;
    padding: 0px 20px;
}

.list-items-gap-15 ul li {
    margin: 15px 0px;
}

.nav-menu ul {
    list-style: none;
    padding: 0px;
}

.main-menu-parant {
    background-color: transparent !important;
}

/* *,
:before,
:after {
    border-style: hidden;
} */



.sub-menu-section {
    border-style: solid;
}

@layer utilities {
    .header {}



    .footer {
        @apply py-4
    }

    .body-text {
        @apply font-openSans text-[18px] text-[#777777] dark:text-white leading-8
    }

    .post-description {
        @apply font-openSans text-[14px] text-[#444444] dark:text-white leading-6
    }

    .hero-gradient {
        background: linear-gradient(to bottom, #CFCFCF, #F5F5F5);
    }

    .dark .hero-gradient {
        background: linear-gradient(to bottom, #53677f, #111827);
    }

    .primary-gradient {
        background: linear-gradient(to bottom, #CFCFCF, #F5F5F5);
    }

    .primary-gradient-reverse {
        background: linear-gradient(to bottom, #F5F5F5, #CFCFCF);
    }

    .dark .primary-gradient {
        background: linear-gradient(to bottom, #1F2A37, #1F2A37);
    }

    .dark .primary-gradient-reverse {
        background: linear-gradient(to bottom, #1F2A37, #1F2A37);
    }


    .footer-text {
        @apply font-openSans text-[13px] text-[#444444] dark:text-white leading-6
    }

    .container {
        @apply w-full xl:w-[1180px] m-auto px-5
    }

    .h1 {
        @apply font-openSans text-[51px] font-light
    }

    .hero-title {
        @apply font-openSans text-[28px] lg:text-[34px] font-light leading-normal
    }

    .h2 {
        @apply font-openSans text-[27px] leading-9
    }

    .h4 {
        @apply font-openSans text-[22px] font-light
    }

    .h3 {
        @apply font-openSans text-[24px] font-light
    }

    .h5 {
        @apply font-openSans text-[18px] font-light
    }

    .subTitle {
        @apply font-openSans text-[27px] font-light
    }
}